@model Group
@{ ViewData["Title"] = "CreateGroup"; }

@if (Context.User.Identity.IsAuthenticated)
{
    <h1>New group</h1>
    <form asp-controller="Chat" asp-action="CreateGroup" method="post">
        <div class="form-group">
            <label asp-for="GroupName">Enter the group name</label>
            <input asp-for="GroupName" class="form-control" />
            <span asp-validation-for="GroupName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="CreatorId" type="hidden" name="CreatorId" id="CreatorId" value="@ViewBag.CreatorId" />
        </div>
        <p>creator ID = @ViewBag.CreatorId</p>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>




}


