
@{
    ViewData["Title"] = "Users";
}

@if (Context.User.Identity.IsAuthenticated)
{

    <div class="row">
        <div class="col-12 col-md-8">
            <div class="container">
                <div class="row">&nbsp;</div>

                <div class="row">
                    <div class="col-2">Message to @ViewBag.name</div>
                    <input type="hidden" id="userName" value="@ViewBag.name"/>
                    <div class="col-4"><input type="text" id="messageInput" /></div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-6">
                        <input type="button" id="sendButton" value="Send Message" />
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <ul id="messagesList"></ul>
                </div>
            </div>
        </div>

    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chatPrivate.js"></script>
}