@{
    ViewData["Title"] = "Hermes chat";
}

<div class="text-center">

    <h1>Welcome to Hermes!</h1>
    <style>
    @@media only screen and (max-width: 300px) {
    img.caduceus {
    display: none;
    }
    }
    </style>
    <img src="~/Resources/caduceus2.gif" width="300" class="caduceus"/>
</div>
